@import url(./vendor/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=Spartan:wght@400;700&display=swap');


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./images/background-stars.svg), #070724;
  font-family: 'Spartan', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  height: 85px;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  color: white;
  font-family: 'Antonio', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 36.23px;
  text-transform: uppercase;
  margin: 0;
  align-self: center;
  letter-spacing: -1.05px;
  text-decoration: none;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.navigation {
  display: flex;
}

.navigation__menu {
  display: flex;
  margin: 0;
  align-items: center;
  padding: 0;
}

.navigation__item {
  font-size: 11px;
  line-height: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  list-style-type: none;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 33px;
  cursor: pointer;
}

.navigation__item:first-of-type {
  margin-left: 0;
}

.navigation__link {
  text-decoration: none;
  color: white;
  padding-top: 31px;
  padding-bottom: 32px;
  opacity: 0.75;
  transition: opacity 0.3s;
}

.navigation__link:hover, .navigation__link_active {
  opacity: 1;
}

.navigation__link_active_mercury {
  border-top: 4px solid #419EBB;
}

.navigation__link_active_venus {
  border-top: 4px solid #EDA249;
}

.navigation__link_active_earth {
  border-top: 4px solid #6D2ED5;
}

.navigation__link_active_mars {
  border-top: 4px solid #D14C32;
}

.navigation__link_active_jupiter {
  border-top: 4px solid #D83A34;
}

.navigation__link_active_saturn {
  border-top: 4px solid #CD5120;
}

.navigation__link_active_uranus {
  border-top: 4px solid #1EC1A2;
}

.navigation__link_active_neptune {
  border-top: 4px solid #2D68F0;
}

.navigation__arrow {
  display: none;
}

.main {
  display: flex;
  max-width: 1110px;
  margin: 126px auto 0 auto;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

.main__description {
  max-width: 350px;
}

.main__image-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main__title {
  font-family: 'Antonio', sans-serif;
  font-size: 80px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.main__paragraph {
  font-size: 14px;
  line-height: 25px;
  margin-top: 23px;
}

.main__source {
  opacity: 0.5;
  margin-top: 24px;
  margin-bottom: 39px;
}

.main__wikipedia {
  color: white;
  opacity: 0.75;
  font-weight: 700;
  text-decoration: underline;
}

.main__source:after {
  content: url(./images/icon-source.svg);
  margin-left: 10px;
}

.geology__image {
  width: 163px;
  height: 199px;
  position: absolute;
  bottom: 0px;
}

.button-container_mobile {
  display: none;
}

.button {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2.57px;
  color: white;
  display: block;
  width: 350px;
  height: 48px;
  text-align: left;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 12px 28px;
  margin-bottom: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button__number {
  opacity: 0.5;
  margin-right: 28px;
}

.button:hover {
  background-color: rgb(216, 216, 216, 0.2);
}

.main__facts {
  max-width: 1110px;
  margin: 87px auto 56px auto;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

.facts__block {
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 255px;
  height: 128px;
  padding: 20px;
  margin-right: 30px;
}

.facts__block:last-of-type {
  margin-right: 0;
}

.facts__title {
  font-size: 11px;
  text-transform: uppercase;
  line-height: 25px;
  letter-spacing: 1px;
  opacity: 0.5;
  margin: 0;
}

.facts__value {
  font-family: 'Antonio', sans-serif;
  font-size: 40px;
  margin: 4px 0 0 0;
  line-height: 51.76px;
  text-transform: uppercase;
  letter-spacing: -1.5px;
}

@media screen and (max-width: 910px) {
  .header {
    flex-direction: column;
    padding: 32px 50px 27px 50px;
    height: 160px;
  }

  .navigation {
    justify-content: center;
    margin-top: 39px;
  }

  .navigation__link {
    padding-top: 10px;
  }

  .main {
    flex-direction: column;
    margin-top: 0;
  }

  .main__title {
    font-size: 48px;
  }

  .main__description {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .main__text-container {
    max-width: 339px;
    margin-right: 20px;
  }

  .main__paragraph {
    font-size: 11px;
  }

  .main__image-container {
    width: 100%;
    height: 650px;
  }

  .button {
    width: 285px;
    font-size: 9px;
  }

  .main__facts {
    margin-top: 27px;
  }

  .main__source {
    font-size: 12px;
  }

  .facts__block {
    padding: 10px;
    width: 164px;
    height: 88px;
  }

  .facts__title {
    font-size: 8px;
    line-height: 16px;
  }

  .facts__value {
    font-size: 24px;
    line-height: 31.05px;
  }
}

@media screen and (max-width: 700px) {

  body {
    min-width: 350px;
  }

  .header {
    display: flex;
    flex-direction: row;
    height:auto;
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }

  .logo {
    position: absolute;
    margin-left: 24px;
  }

  .navigation {
    margin-top: 0;
    position: relative;
    width: 100%;
    justify-content: flex-end;
  }

  .navigation__link_active {
    border: none;
  }

  .navigation__menu {
    padding: 0;
    top: 58px;
    position: absolute;
    flex-direction: column;
    background-color: #070724;
    width: 100%;
    text-align: left;
    transition: height 0.5s ease;
    z-index: 10;
    height: 0;
    overflow: hidden;
    align-items: initial;
  }

  .navigation__menu.active {
    height: 600px;
  }

  .navigation__item {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
  }

  .navigation__item:first-of-type {
    padding-top: 44px;
  }

  .navigation__item:last-of-type {
    padding-bottom: 44px;
    border: none;
  }

  .navigation__planet-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    left: 24px;
  }

  .navigation__planet-icon_mercury {
    background-color: #DEF4FC;
  }

  .navigation__planet-icon_venus {
    background-color: #F7CC7F;
  }

  .navigation__planet-icon_earth {
    background-color: #545BFE;
  }

  .navigation__planet-icon_mars {
    background-color: #FF6A45;
  }

  .navigation__planet-icon_jupiter {
    background-color: #ECAD7A;
  }

  .navigation__planet-icon_saturn {
    background-color: #FCCB6B;
  }

  .navigation__planet-icon_uranus {
    background-color: #65F0D5;
  }

  .navigation__planet-icon_neptune {
    background-color: #497EFA;
  }

  .navigation__link {
    padding: 20px 80% 20px 25px;
    font-size: 15px;
    color: white;
    opacity: 1;
  }

  .navigation__arrow {
    display: block;
    width: 4px;
    height: 8px;
    margin-left: auto;
    position: absolute;
    right: 32px;
  }
  
  .hamburger {
    display: block;
    cursor: pointer;
    margin-right: 24px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .button-container {
    display: none;
  }

  .button-container_mobile {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
  }

  .button_mobile {
    color: white;
    border: none;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    line-height: 10.08px;
    letter-spacing: 1.93px;
    opacity: 0.75;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
  }

  .main {
    padding-left: 24px;
    padding-right: 24px;
  }

  .main__image-container {
    height: 304px;
  }

  .main__text-container {
    text-align: center;
    max-width: 100%;
    margin-right: 0;
  }

  .main__source {
    margin-bottom: 0;
  }

  .main__facts {
    margin-top: 28px;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
  }

  .main__image_mercury {
    width: 111px;
    height: 111px;
  }

  .main__image_venus {
    width: 154px;
    height: 154px;
  }

  .main__image_earth {
    width: 173px;
    height: 173px;
  }

  .main__image_earth {
    width: 173px;
    height: 173px;
  }

  .main__image_mars {
    width: 129px;
    height: 129px;
  }

  .main__image_jupiter {
    width: 224px;
    height: 224px;
  }

  .main__image_saturn {
    width: 256px;
    height: 256px;
  }

  .main__image_uranus {
    width: 176px;
    height: 176px;
  }

  .main__image_neptune {
    width: 173px;
    height: 173px;
  }

  .geology__image {
    width: 100px;
    height: 122px;
    bottom: 15px;
  }

  .facts__block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 13px 24px 13px 24px;
    margin-bottom: 8px;
  }

  .facts__value {
    font-size: 20px;
    line-height: 25.88px;
    letter-spacing: -0.75px;
    margin-top: 0;
  }
}
